<section class="about-section" id="about-id">
  <div class="container">
    <ul class="about-list">
      <li class="about-item">
        <div class="about-img-wrapper">
          <img
            class="about-second-icon"
            src="./images/about/hexagonal-left.svg"
            alt=""
            width="577"
            loading="lazy"
          />
          <img
            class="about-first-icon"
            src="./images/about/heart.svg"
            alt=""
            width="312"
            height="312"
            loading="lazy"
          />
        </div>
        <div class="about-description-wrapper">
          <p class="subtitle-blue">Цінність</p>
          <h3 class="subtitle">Кожен згенерований донат має велике значення</h3>
          <p class="text-main">
            Почніть генерувати донати з Вуликом і автоматично направляйте
            накопичені кошти на потреби наших ЗСУ, або гуманітарну допомогу для
            тих, хто постраждав від війни.
          </p>
        </div>
      </li>
      <li class="about-item reverse-content">
        <div class="about-img-wrapper">
          <img
            class="about-second-icon"
            src="./images/about/hexagonal-right.svg"
            alt=""
            width="577"
            loading="lazy"
          />
          <img
            class="about-first-icon"
            src="./images/about/safety.svg"
            alt=""
            width="312"
            height="312"
            loading="lazy"
          />
        </div>
        <div class="about-description-wrapper">
          <p class="subtitle-blue">Безпека</p>
          <h3 class="subtitle">Генеруйте донати без шкоди для вашої безпеки</h3>
          <p class="text-main">
            ВУЛИК гарантує, що ваш інтернет-трафік використовується лише
            надійними партнерами, і програма ніколи не запитує та не отримує
            доступ до пам’яті вашого пристрою.
          </p>
        </div>
      </li>
      <li class="about-item">
        <div class="about-img-wrapper">
          <img
            class="about-second-icon"
            src="./images/about/hexagonal-left.svg"
            alt=""
            width="577"
            loading="lazy"
          />
          <img
            class="about-first-icon"
            src="./images/about/internet.svg"
            alt=""
            width="312"
            height="312"
            loading="lazy"
          />
        </div>
        <div class="about-description-wrapper">
          <p class="subtitle-blue">Впевненість</p>
          <h3 class="subtitle">
            Точно знайте, для чого використовується ваш iнтернет
          </h3>
          <p class="text-main">
            Використовуючи ВУЛИК, ваші пристрої починають діяти як оглядові
            вежі, що допомагають відомим компаніям отримувати доступ до
            Всесвітньої мережі. Цей процес абсолютно безпечний та не вимагає
            значних ресурсів Інтернету.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
