<section class="definiteness-section">
  <div class="container">
    <p class="definiteness-subtitle subtitle-blue">Визначеність</p>
    <h2 class="definiteness-title subtitle">Визначте суму свого донату</h2>
    <p class="definiteness-description text-main">
      Сума згенерованого донату безпосередньо залежить від обсягу трафіку, який
      ви ділите з програмою ВУЛИК. Цей інтерактивний інструмент показує
      приблизну суму яку ви можете отримувати. Чим більше ви ділитеся, тим
      більше данатів збираєте!
    </p>
    <p class="per-month"><span class="amount">925</span>&nbspгрн за місяць</p>
    <p class="definiteness-text text-main">
      Вкажіть трафік, яким ви поділитесь за день і побачите приблизну суму, яку
      можна отримати
    </p>
    <ul class="definiteness-list">
      <li class="definiteness-item">
        <div class="definiteness-chexbox"></div>
        <p class="definiteness-chexbox-btn text-main">2GB</p>
      </li>
      <li class="definiteness-item">
        <div class="definiteness-chexbox"></div>
        <p class="definiteness-chexbox-btn text-main">4GB</p>
      </li>
      <li class="definiteness-item">
        <div class="definiteness-chexbox"></div>
        <p class="definiteness-chexbox-btn text-main">6GB</p>
      </li>
      <li class="definiteness-item">
        <div class="definiteness-chexbox"></div>
        <p class="definiteness-chexbox-btn text-main">8GB</p>
      </li>
      <li class="definiteness-item">
        <div class="definiteness-chexbox"></div>
        <p class="definiteness-chexbox-btn text-main">10GB</p>
      </li>
      <li class="definiteness-item">
        <div class="definiteness-chexbox"></div>
        <p class="definiteness-chexbox-btn text-main">12GB</p>
      </li>
      <li class="definiteness-item">
        <div class="definiteness-chexbox"></div>
        <p class="definiteness-chexbox-btn text-main">14GB</p>
      </li>
      <li class="definiteness-item">
        <div class="definiteness-chexbox"></div>
        <p class="definiteness-chexbox-btn text-main">16GB</p>
      </li>
      <li class="definiteness-item">
        <div class="definiteness-chexbox"></div>
        <p class="definiteness-chexbox-btn text-main">18GB</p>
      </li>
      <li class="definiteness-item">
        <div class="definiteness-chexbox"></div>
        <p class="definiteness-chexbox-btn text-main">20GB</p>
      </li>
    </ul>
    <button
      class="definiteness-btn button"
      type="button"
      aria-label="кнопка для завантаження додатку"
    >
      Завантажити Вулик
    </button>
  </div>
</section>
