<section class="definiteness-section">
  <div class="container">
    <p>Визначеність</p>
    <h2>Визначте суму свого донату</h2>
    <p>
      Сума згенерованого донату безпосередньо залежить від обсягу трафіку, який
      ви ділите з програмою ВУЛИК. Цей інтерактивний інструмент показує
      приблизну суму яку ви можете отримувати. Чим більше ви ділитеся, тим
      більше данатів збираєте!
    </p>
    <div>
      <span>925</span>
      <p>грн за місяць</p>
    </div>
    <p>
      Вкажіть трафік, яким ви поділитесь за день і побачите приблизну суму, яку
      можна отримати
    </p>
    <ul>
      <li>
        <div></div>
        <p>2GB</p>
      </li>
      <li>
        <div></div>
        <p>4GB</p>
      </li>
      <li>
        <div></div>
        <p>6GB</p>
      </li>
      <li>
        <div></div>
        <p>8GB</p>
      </li>
      <li>
        <div></div>
        <p>10GB</p>
      </li>
      <li>
        <div></div>
        <p>12GB</p>
      </li>
      <li>
        <div></div>
        <p>14GB</p>
      </li>
      <li>
        <div></div>
        <p>16GB</p>
      </li>
      <li>
        <div></div>
        <p>18GB</p>
      </li>
      <li>
        <div></div>
        <p>20GB</p>
      </li>
    </ul>
    <button
      class="hero-btn"
      type="button"
      aria-label="кнопка для завантаження додатку"
    >
      Завантажити Вулик
    </button>
  </div>
</section>
