<section class="factors-section">
  <div class="container factors-container">
    <p class="factors-subtitle subtitle-blue">Фактори</p>
    <h2 class="factors-title subtitle">
      Фактори, що впливають на розмір згенерованого донату
    </h2>
    <ul class="factors-list">
      <li class="factors-item">
        <img
          class="factors-icon"
          src="./images/factors/location.svg"
          alt=""
          width="100"
          height="100"
          loading="lazy"
        />
        <h3 class="factors-item-title subtitle-medium">
          Ваше місцезнаходження
        </h3>
        <p class="factors-item-text">
          Сума згенерованого донату залежить<br />від попиту на трафік для
          наших<br />бізнес-клієнтів, а також від кількості користувачів у
          вашому регіоні.
        </p>
      </li>
      <li class="factors-item">
        <img
          class="factors-icon"
          src="./images/factors/quantity.svg"
          alt=""
          width="100"
          height="100"
          loading="lazy"
        />
        <h3 class="factors-item-title subtitle-medium">Кількість IP-адрес</h3>
        <p class="factors-item-text">
          Встановлюй на телефоні, комп’ютері, планшеті - чим більше у вас
          підключених пристроїв, тим більше ви генеруєте донатів. Більше донатів
          - більше допомоги.
        </p>
      </li>
      <li class="factors-item">
        <img
          class="factors-icon"
          src="./images/factors/speed.svg"
          alt=""
          width="100"
          height="100"
          loading="lazy"
        />
        <h3 class="factors-item-title subtitle-medium">
          Продуктивність Інтернету
        </h3>
        <p class="factors-item-text">
          Стабільне підключення до Інтернету<br />має важливе значення у
          генерації великих<br />сум донатів та для маршрутизації трафіку через
          пристрої.
        </p>
      </li>
    </ul>
  </div>
  <svg class="factors-bg-icon-left" width="132" height="158">
    <use href="./images/icons.svg#combs"></use>
  </svg>
  <svg class="factors-bg-icon-right" width="144" height="208">
    <use href="./images/icons.svg#combs"></use>
  </svg>
</section>
