<footer class="footer">
  <div class="container">
    <a class="logo footer-logo" href="./index.html">
      <svg class="dooter-logo-icon" width="52" height="52">
        <use href="./images/icons.svg#logo"></use>
      </svg>
      <span class="footer-logo-text">ВУЛИК</span>
    </a>

    <address class="contact-info">
      <p class="contact-title">Контакти</p>
      <ul class="contact-list">
        <li class="contact-list-item">
          <a class="contact-details" href="tel:+380672652625"
            >+38 067 265 26 25</a
          >
        </li>
        <li class="contact-list-item">
          <a class="contact-details" href="mailto:hello.hive@gmail.com"
            >info@devstudio.com</a
          >
        </li>
      </ul>
    </address>
    <div class="social-box">
      <p class="social-media">Ми в соцмережах</p>
      <ul class="social-media-list">
        <li class="social-media-item">
          <a
            href=""
            class="social-media-link link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="twitter icon"
          >
            <svg class="social-media-icon" width="24" height="24">
              <use href="./images/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-item">
          <a
            href=""
            class="social-media-link link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="instagram icon"
          >
            <svg class="social-media-icon" width="24" height="24">
              <use href="./images/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-item">
          <a
            href=""
            class="social-media-link link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="facebook icon"
          >
            <svg class="social-media-icon" width="24" height="24">
              <use href="./images/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-item">
          <a
            href=""
            class="social-media-link link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="telegram icon"
          >
            <svg class="social-media-icon" width="24" height="24">
              <use href="./images/icons.svg#telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button
      class="hero-btn"
      type="button"
      aria-label="кнопка для завантаження додатку"
    >
      Зв’язатись з нами
    </button>
  </div>
</footer>
