<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo header-logo" href="./index.html">
        <svg class="logo-icon" width="52" height="52">
          <use href="./images/icons.svg#logo"></use>
        </svg>
        <span class="logo-text">ВУЛИК</span>
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item hover-item">
          <a
            href="#"
            class="header-nav-link hover-link"
            aria-label="Посилання на головну сторінку"
            >Головна</a
          >
        </li>
        <li class="header-nav-item hover-item">
          <a
            href="#"
            class="header-nav-link hover-link"
            aria-label="Посилання на інформацію про додаток"
            >Про нас</a
          >
        </li>
        <li class="header-nav-item hover-item">
          <a
            href="#"
            class="header-nav-link hover-link"
            aria-label="посилання на інформацію щодо принципу дії додатку"
            >Як це працює</a
          >
        </li>
      </ul>
    </nav>
    <button
      class="header-btn top-line-btn"
      type="button"
      aria-label="кнопка для завантаження додатку"
    >
      Завантажити
    </button>
  </div>
</header>
