<section class="hero-section">
  <div class="container hero-container">
    <p class="hero-subtitle subtitle-blue">Донать без зусиль</p>
    <h1 class="hero-title">
      Генеруйте донати в режимі реального часу: ваш iнтернет — ваш вклад у
      перемогу
    </h1>
    <p class="hero-description">
      ВУЛИК — перша в Україні програма, яка дозволяє генерувати донати без
      зусиль, просто поділившись своїм Інтернетом. Але це не все! ВУЛИК — це ще
      й ком'юніті небайдужих українців, які не залишаються осторонь у важкий час
      для нашої країни. Чим більше нас у ВУЛИКу, тим більше донатів ми
      генеруємо, і тим швидше наближаємо перемогу!
    </p>
    <button
      class="button hero-btn"
      type="button"
      aria-label="кнопка для завантаження додатку"
    >
      Розпочати
    </button>
  </div>
  <svg class="hero-bg-icon" width="300" height="374">
    <use href="./images/icons.svg#combs"></use>
  </svg>
</section>
