<section class="guide-section" id="join-id">
  <div class="container">
    <p class="guide-subtitle subtitle-blue">Приєднатися</p>
    <h2 class="guide-title subtitle">Стати частиною ВУЛИКа</h2>
    <ul class="guide-list">
      <li
        class="guide-item"
        data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1000"
      >
        <img
          class="guide-icon"
          src="./images/join/install.svg"
          alt=""
          width="100"
          height="100"
          loading="lazy"
        />
        <h3 class="guide-item-title subtitle-medium">1.Встановіть</h3>
        <p class="guide-item-text">
          Встановити ВУЛИК можна на будь-якому пристрої Android зі стабільним
          підключенням до Інтернету.
        </p>
      </li>
      <li
        class="guide-item"
        data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1000"
      >
        <img
          class="guide-icon"
          src="./images/join/launch.svg"
          alt=""
          width="100"
          height="100"
          loading="lazy"
        />
        <h3 class="guide-item-title subtitle-medium">2.Запустіть Вулик</h3>
        <p class="guide-item-text">
          Після інсталяції Вулик безпечно надає доступ до вашого
          Інтернет-з’єднання, ніколи не отримуючи доступу до ваших особистих
          даних.
        </p>
      </li>
      <li
        class="guide-item"
        data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1000"
      >
        <img
          class="guide-icon"
          src="./images/join/hive.svg"
          alt=""
          width="100"
          height="100"
          loading="lazy"
        />
        <h3 class="guide-item-title subtitle-medium">3.Дайте йому зібратися</h3>
        <p class="guide-item-text">
          Вулик використовує ваше підключення до інтернету для збору інформації,
          яка є загальнодоступною в Інтернеті.
        </p>
      </li>
      <li
        class="guide-item"
        data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1000"
      >
        <img
          class="guide-icon"
          src="./images/join/business.svg"
          alt=""
          width="100"
          height="100"
          loading="lazy"
        />
        <h3 class="guide-item-title subtitle-medium">4.Допомогайте бізнесу</h3>
        <p class="guide-item-text">
          Надійні компанії використовують ці дані для веб-статистики, порівняння
          цін та інших перевірених бізнес-процесів.
        </p>
      </li>
      <li
        class="guide-item"
        data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1000"
      >
        <img
          class="guide-icon"
          src="./images/join/generate.svg"
          alt=""
          width="100"
          height="100"
          loading="lazy"
        />
        <h3 class="guide-item-title subtitle-medium">5.Генеруйте донати</h3>
        <p class="guide-item-text">
          Разом - заради однієї цілі. Згенерована сума автоматично передається в
          обраний фонд гуманітраної допомоги, або на ЗСУ.
        </p>
      </li>
    </ul>
  </div>
</section>
