<section class="guide-section">
  <div class="container">
    <p class="guide-subtitle">Приєднатися</p>
    <h2 class="guide-title">Стати частиною ВУЛИКа</h2>
    <ul class="guide-list">
      <li class="guide-item">
        <h3 class="guide-item-title">1.Встановіть</h3>
        <p class="guide-item-text">
          Встановити ВУЛИК можна на будь-якому пристрої Android зі стабільним
          підключенням до Інтернету.
        </p>
      </li>
      <li class="guide-item">
        <h3 class="guide-item-title">2.Запустіть Вулик</h3>
        <p class="guide-item-text">
          Після інсталяції Вулик безпечно надає доступ до вашого
          Інтернет-з’єднання, ніколи не отримуючи доступу до ваших особистих
          даних.
        </p>
      </li>
      <li class="guide-item">
        <h3 class="guide-item-title">3.Дайте йому зібратися</h3>
        <p class="guide-item-text">
          Вулик використовує ваше підключення до інтернету для збору інформації,
          яка є загальнодоступною в Інтернеті.
        </p>
      </li>
      <li class="guide-item">
        <h3 class="guide-item-title">4.Допомогайте бізнесу</h3>
        <p class="guide-item-text">
          Надійні компанії використовують ці дані для веб-статистики, порівняння
          цін та інших перевірених бізнес-процесів.
        </p>
      </li>
      <li class="guide-item">
        <h3 class="guide-item-title">5.Генеруйте донати</h3>
        <p class="guide-item-text">
          Разом - заради однієї цілі. Згенерована сума автоматично передається в
          обраний фонд гуманітраної допомоги, або на ЗСУ.
        </p>
      </li>
    </ul>
  </div>
</section>
