<section class="media-section">
  <div class="container">
    <h2 class="media-title subtitle">ЗМІ про нас</h2>
    <ul class="media-list">
      <li class="media-item">
        <a
          href="https://hromadske.ua/"
          class="media-link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="hromadse icon"
        >
          <svg class="media-icon" width="210" height="64">
            <use href="./images/icons.svg#hromadske"></use>
          </svg>
        </a>
      </li>
      <li class="media-item">
        <a
          href="https://ain.ua/"
          class="media-link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="ain icon"
        >
          <svg class="media-icon" width="103" height="64">
            <use href="./images/icons.svg#ain"></use>
          </svg>
        </a>
      </li>
      <li class="media-item">
        <a
          href="https://focus.ua/"
          class="media-link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="focus icon"
        >
          <svg class="media-icon" width="215" height="48">
            <use href="./images/icons.svg#focus"></use>
          </svg>
        </a>
      </li>
      <li class="media-item">
        <a
          href="https://delo.ua/"
          class="media-link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="delo icon"
        >
          <svg class="media-icon" width="69" height="64">
            <use href="./images/icons.svg#delo"></use>
          </svg>
        </a>
      </li>
      <li class="media-item">
        <a
          href="https://www.kyivpost.co"
          class="media-link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="kyivpost icon"
        >
          <svg class="media-icon" width="290" height="64">
            <use href="./images/icons.svg#kyivpost"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
