<section class="media-section">
  <div class="container">
    <h2>ЗМІ про нас</h2>
    <ul class="media-list list">
      <li class="media-item">
        <a href="" class="media-link" target="_blank" rel="noopener noreferrer">
          <!-- <svg class="media-icon" width="104" height="56">
            <use href="./images/icon.svg#icon-ya-co"></use>
          </svg> -->
        </a>
      </li>
      <li class="media-item">
        <a href="" class="media-link" target="_blank" rel="noopener noreferrer">
          <!-- <svg class="media-icon" width="104" height="56">
            <use href="./images/icon.svg#icon-tagline-here"></use>
          </svg> -->
        </a>
      </li>
      <li class="media-item">
        <a href="" class="media-link" target="_blank" rel="noopener noreferrer">
          <!-- <svg class="media-icon" width="104" height="56">
            <use href="./images/icon.svg#icon-company"></use>
          </svg> -->
        </a>
      </li>
      <li class="media-item">
        <a href="" class="media-link" target="_blank" rel="noopener noreferrer">
          <!-- <svg class="media-icon" width="104" height="56">
            <use href="./images/icon.svg#icon-fosters-peters"></use>
          </svg> -->
        </a>
      </li>
      <li class="media-item">
        <a href="" class="media-link" target="_blank" rel="noopener noreferrer">
          <!-- <svg class="media-icon" width="104" height="56">
            <use href="./images/icon.svg#icon-brand"></use>
          </svg> -->
        </a>
      </li>
    </ul>
  </div>
</section>
