<section class="media-section">
  <div class="container">
    <h2>ЗМІ про нас</h2>
    <ul class="media-list list">
      <li class="media-item">
        <a href="" class="media-link" target="_blank" rel="noopener noreferrer">
          <svg class="media-icon" width="210" height="64">
            <use href="./images/icons.svg#hromadske"></use>
          </svg>
        </a>
      </li>
      <li class="media-item">
        <a href="" class="media-link" target="_blank" rel="noopener noreferrer">
          <svg class="media-icon" width="104" height="64">
            <use href="./images/icons.svg#ain"></use>
          </svg>
        </a>
      </li>
      <li class="media-item">
        <a href="" class="media-link" target="_blank" rel="noopener noreferrer">
          <svg class="media-icon" width="215" height="48">
            <use href="./images/icons.svg#focus"></use>
          </svg>
        </a>
      </li>
      <li class="media-item">
        <a href="" class="media-link" target="_blank" rel="noopener noreferrer">
          <svg class="media-icon" width="69" height="64">
            <use href="./images/icons.svg#delo"></use>
          </svg>
        </a>
      </li>
      <li class="media-item">
        <a href="" class="media-link" target="_blank" rel="noopener noreferrer">
          <svg class="media-icon" width="290" height="64">
            <use href="./images/icons.svg#Kyivpost"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
