<div class="menu-container js-menu-container" id="mobile-menu">
  <ul class="mobile-menu">
    <li class="mobile-menu-item">
      <a
        href="#"
        class="header-nav-link js-close-menu-first"
        aria-label="Посилання на головну сторінку"
        >Головна</a
      >
    </li>
    <li class="mobile-menu-item">
      <a
        href="#about-id"
        class="header-nav-link js-close-menu-second"
        aria-label="Посилання на інформацію про додаток"
        >Про нас</a
      >
    </li>
    <li class="mobile-menu-item">
      <a
        href="#join-id"
        class="header-nav-link js-close-menu-third"
        aria-label="посилання на інформацію щодо принципу дії додатку"
        >Як це працює</a
      >
    </li>
  </ul>
  <button
    class="mobile-menu-btn top-line-btn"
    type="button"
    aria-label="кнопка для завантаження додатку"
  >
    Завантажити
  </button>
  <!-- <svg class="partners-bg-icon mobile-icon-left" width="150" height="150">
    <use href="./images/icons.svg#combs"></use>
  </svg>
  <svg class="hero-bg-icon mobile-icon-right" width="150" height="150">
    <use href="./images/icons.svg#combs"></use>
  </svg>
  <svg class="hero-bg-icon mobile-icon-right-bottom" width="150" height="150">
    <use href="./images/icons.svg#combs"></use>
  </svg> -->
</div>
