<section class="partners-section">
  <div class="container">
    <h2>Наші партнери</h2>
    <ul class="partners-list list">
      <li class="partners-item">
        <a
          href=""
          class="partners-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="partners-icon" width="164" height="64">
            <use href="./images/icons.svg#Nielsen"></use>
          </svg>
        </a>
      </li>
      <li class="partners-item">
        <a
          href=""
          class="partners-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="partners-icon" width="192" height="64">
            <use href="./images/icons.svg#Kantar"></use>
          </svg>
        </a>
      </li>
      <li class="partners-item">
        <a
          href=""
          class="partners-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="partners-icon" width="273" height="45">
            <use href="./images/icons.svg#comscore"></use>
          </svg>
        </a>
      </li>
      <li class="partners-item">
        <a
          href=""
          class="partners-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="partners-icon" width="225" height="48">
            <use href="./images/icons.svg#Microsoft"></use>
          </svg>
        </a>
      </li>
      <li class="partners-item">
        <a
          href=""
          class="partners-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="partners-icon" width="156" height="56">
            <use href="./images/icons.svg#Amazon"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
