<section class="partners-section">
  <div class="container">
    <h2 class="partner-title">Наші партнери</h2>
    <ul class="partners-list list">
      <li class="partners-item">
        <a
          href=""
          class="partners-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="partners-icon" width="163" height="64">
            <use href="./images/icons.svg#nielsen"></use>
          </svg>
        </a>
      </li>
      <li class="partners-item">
        <a
          href=""
          class="partners-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="partners-icon" width="192" height="64">
            <use href="./images/icons.svg#kantar"></use>
          </svg>
        </a>
      </li>
      <li class="partners-item">
        <a
          href=""
          class="partners-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="partners-icon" width="289" height="64">
            <use href="./images/icons.svg#comscore"></use>
          </svg>
        </a>
      </li>
      <li class="partners-item">
        <a
          href=""
          class="partners-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="partners-icon" width="225" height="64">
            <use href="./images/icons.svg#microsoft"></use>
          </svg>
        </a>
      </li>
      <li class="partners-item">
        <a
          href=""
          class="partners-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="partners-icon" width="156" height="64">
            <use href="./images/icons.svg#amazon"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
