<section class="stats-section">
  <div class="container">
    <h2 class="stats-title visually-hidden">
      Статистика додатку щодо кількості користувачів та донатів
    </h2>
    <ul class="stats-list">
      <li class="stats-item">
        <p class="stats-quantities">12 569</p>
        <p class="stats-text">Користувачів Вулика</p>
      </li>
      <li class="stats-item">
        <p class="stats-quantities">542</p>
        <p class="stats-text">Закритих волонтерських зборів</p>
      </li>
      <li class="stats-item">
        <p class="stats-quantities">1900 грн</p>
        <p class="stats-text">Середній розмір місячного донату</p>
      </li>
      <li class="stats-item">
        <p class="stats-quantities">20 000+ грн</p>
        <p class="stats-text">Згенеровано донатів за весь час</p>
      </li>
      <li class="stats-item">
        <p class="stats-quantities">15 258 грн</p>
        <p class="stats-text">Зараз на банці для допомоги армії</p>
      </li>
      <li class="stats-item">
        <p class="stats-quantities">14 269 грн</p>
        <p class="stats-text">Зараз на банці для гуманітраної допомоги</p>
      </li>
    </ul>
  </div>
</section>
