<section class="join-section">
  <div class="container join-container">
    <h2 class="join-title subtitle">Готовий генерувати донати на перемогу?</h2>
    <p class="join-text text-main">
      Тобі потрібно всього декілька хвилин, щоб почати наповнювати ВУЛИК
      донатами.
    </p>
    <button
      class="join-btn button"
      type="button"
      aria-label="кнопка для завантаження додатку"
    >
      Приєднатись
    </button>
  </div>
  <svg class="join-bg-icon-rigth" width="626" height="480">
    <use href="./images/icons.svg#combs-join-rigth"></use>
  </svg>
  <svg class="join-bg-icon-left" width="600" height="475">
    <use href="./images/icons.svg#combs-join-left"></use>
  </svg>
</section>
