.about-section {
  padding-top: 80px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .about-section {
    padding-top: 120px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1470px) {
  .about-section {
    padding-top: 180px;
    padding-bottom: 160px;
  }
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .about-list {
    gap: 100px;
  }
}

@media screen and (min-width: 1470px) {
  .about-list {
    gap: 160px;
  }
}

@media screen and (min-width: 768px) {
  .about-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}

@media screen and (min-width: 1470px) {
  .about-item {
    gap: 0;
  }
}

.about-img-wrapper {
  position: relative;
  margin-bottom: 30px;
  /* width: 277px;
  height: 212px; */
}

@media screen and (min-width: 1470px) {
  .about-img-wrapper {
    position: relative;
    margin-bottom: 0;
    width: 577px;
    height: 512px;
  }
}

.about-first-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 1469px) {
  .about-first-icon {
    width: 180px;
    height: 180px;
  }
}

.about-description-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .about-description-wrapper {
    gap: 24px;
    max-width: 400px;
  }
}

@media screen and (min-width: 1470px) {
  .about-description-wrapper {
    max-width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .about-subtitle-blue {
    text-align: center;
  }
}

.about-subtitle {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about-subtitle {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .about-text {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .reverse-content {
    flex-flow: row-reverse;
  }
}
