:root {
  --color-gray-80: #33455a;
  --color-gray-60: #65778c;
  --color-gray-40: #a0a9b1;
  --color-gray-20: #e1e3e5;
  --color-gray-10: #f4f6f8;
  --color-brand-black: #001834;
  --color-brand-blue: #0075ff;
  --color-brand-orange: #ff8a00;
  --color-brand-white: #ffffff;
  --color-other-dark-blue: #006bf5;
  --color-other-icon: #c2a179;
  --color-other-background: #fffaf4;
  --color-expanded-success: #23d35e;
  --color-expanded-info: #23a9d3;
  --color-expanded-warning: #eeaa44;
  --color-expanded-error: #ee4444;

  --main-text-font: 'Noto Sans', sans-serif;
}

body {
  color: var(--color-brand-black);
  background-color: var(--color-brand-white);
  font-family: var(--main-text-font);
}

.container {
  width: 1470px;
  padding-left: 15px;
  padding-right: 15px;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('NotoSans-Regular'), local('NotoSans Regular'),
    url(../fonts/NotoSans-Regular.ttf) format('truetype'),
    url(../fonts/NotoSans-Regular.woff) format('woff'),
    url(../fonts/NotoSans-Regular.woff2) format('woff2'),
    url(../fonts/NotoSans-Regular.svg) format('svg');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('NotoSans-Medium'), local('NotoSans Medium'),
    url(../fonts/NotoSans-Medium.ttf) format('truetype'),
    url(../fonts/NotoSans-Medium.woff) format('woff'),
    url(../fonts/NotoSans-Medium.woff2) format('woff2'),
    url(../fonts/NotoSans-Medium.svg) format('svg');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('NotoSans-SemiBold'), local('NotoSans SemiBold'),
    url(../fonts/NotoSans-SemiBold.ttf) format('truetype'),
    url(../fonts/NotoSans-SemiBold.woff) format('woff'),
    url(../fonts/NotoSans-SemiBold.woff2) format('woff2'),
    url(../fonts/NotoSans-SemiBold.svg) format('svg');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: local('CenturyGothic-Bold'), local('CenturyGothic Bold'),
    url(../fonts/CenturyGothic-Bold.ttf) format('truetype'),
    url(../fonts/CenturyGothic-Bold.woff) format('woff'),
    url(../fonts/CenturyGothic-Bold.woff2) format('woff2'),
    url(../fonts/CenturyGothic-Bold.svg) format('svg');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
