.footer {
  padding: 40px 0px 15px 0px;
  background-color: var(--color-brand-black);
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 80px 0px 30px 0px;
  }
}

.footer-top {
  margin-bottom: 26px;
  padding-bottom: 60px;
  border-bottom: 1px solid var(--color-gray-80);
}

@media screen and (min-width: 768px) {
  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.footer-content-wrapper {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 767px) {
  .footer-content-wrapper {
    flex-direction: column;
    justify-content: center;
    flex-flow: column-reverse;
  }
}

@media screen and (min-width: 1440px) {
  .footer-content-wrapper {
    gap: 0px;
  }
}

@media screen and (max-width: 767px) {
  .footer-logo {
    justify-content: center;
  }
}

.footer-logo-text {
  color: var(--color-brand-white);
}

.contact-info {
  font-style: normal;
}

@media screen and (min-width: 1470px) {
  .contact-info {
    margin-right: 81px;
  }
}

@media screen and (max-width: 767px) {
  .footer-subtitle {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .footer-subtitle {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.55;

    color: var(--color-brand-white);
  }
}

@media screen and (min-width: 1470px) {
  .footer-subtitle {
    font-size: 18px;
  }
}

.contact-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .contact-list {
    align-items: normal;
    gap: 20px;
  }
}

.contact-details {
  line-height: 1.5;

  color: var(--color-brand-white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-details:hover,
.contact-details:focus {
  color: var(--color-brand-orange);
}

@media screen and (min-width: 1470px) {
  .social-box {
    margin-right: 202px;
  }
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1469px) {
  .social-media-list {
    gap: 21px;
  }
}

.social-media-link {
  color: var(--color-brand-white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  color: var(--color-brand-orange);
}

.social-media-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1469px) {
  .social-media-icon {
    width: 20px;
    height: 20px;
  }
}

.footer-btn {
  display: block;
  width: 270px;
  height: 64px;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000026;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.55;

  color: var(--color-brand-white);
  background-color: var(--color-gray-80);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1469px) {
  .footer-btn {
    width: 164px;
    height: 44px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1470px) {
  .footer-btn {
    width: 330px;
    padding: 18px 81px;
    margin: 0;
  }
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--color-gray-60);
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
  }
}

.copyright-text {
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-gray-60);
}

@media screen and (min-width: 1470px) {
  .copyright-text {
    font-size: 16px;
  }
}

.terms-list {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .terms-list {
    display: flex;
    gap: 20px;
  }
}

@media screen and (min-width: 1470px) {
  @media screen and (min-width: 768px) {
    .terms-list {
      gap: 52px;
    }
  }
}
