.hero-section {
  position: relative;
  padding-top: 120px;
  padding-bottom: 80px;
}

.hero-container {
  position: relative;
  z-index: var(--main-index);
}

.hero-subtitle {
  text-align: center;
}

.hero-title {
  max-width: 1194px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  text-align: center;

  font-family: var(--secondary-text-font);
  font-size: 72px;
  line-height: 1.3;
}

.hero-description {
  max-width: 1194px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding: 0 34px 0 34px;

  text-align: center;
  font-size: 18px;
  line-height: 1.55;

  color: var(--color-gray-80);
}

.hero-bg-icon {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.1;
  transform: translateX(12%) translateY(20%);
  z-index: var(--secondary-index);
  fill: var(--color-brand-orange);
}
