.partners-section {
  position: relative;
  background-color: var(--color-other-background);
}
.partners-container {
  position: relative;
  z-index: var(--main-index);
}

.partner-title {
  margin-bottom: 24px;
  text-align: center;
  font-family: var(--secondary-text-font);
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .partner-title {
    margin-bottom: 40px;
    font-size: 24px;
  }
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 34px;
  column-gap: 16px;
}

@media screen and (min-width: 768px) {
  .partners-list {
    row-gap: 50px;
    column-gap: 36px;
  }
}

@media screen and (min-width: 1470px) {
  .partners-list {
    gap: 103px;
  }
}

.partners-item {
  display: flex;
  width: calc((100% - 16px) / 2);
  height: 64px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .partners-item {
    width: calc((100% - 72px) / 3);
  }
}

@media screen and (min-width: 1470px) {
  .partners-item {
    width: calc((100% - 412px) / 5);
  }
}

.partners-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-gray-60);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-link:hover,
.partners-link:focus {
  color: var(--color-brand-black);
}

.partners-icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .partners-icon {
    width: 120px;
  }
}

.partners-bg-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.1;
  transform: scale(-1, 1) translateX(12%);
  z-index: var(--secondary-index);
  fill: var(--color-brand-orange);
}

@media screen and (max-width: 767px) {
  .partners-bg-icon {
    width: 150px;
    height: 174px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1469px) {
  .partners-bg-icon {
    width: 200px;
    height: 274px;
  }
}
