.partner-title {
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Century Gothic';
  font-size: 24px;
  line-height: 1.5;
}

.partners-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 103px;
}

.partners-link {
  color: var(--color-gray-60);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-link:hover,
.partners-link:focus {
  color: var(--color-brand-black);
}

.partners-icon {
  fill: currentColor;
}
